<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Download youtube videos</p>
	<br />
	<form action="/yt-downloader" method="post">
		<pre>
		Link to video: <input type="text" name="url" />
		<input type="submit" name="submit" />
		</pre>
	</form>
	<br />
	<img th:src="${file_info.getThumbnailUrl()}" alt="" width="100" height="60" />
	<p th:text="${file_info.getTitle()}"></p>
	<a th:text="${file_info.getUrl()}" th:href="${file_info.getUrl()}"></a>
	<ul th:each="format : ${file_info.getFormats()}">
		<li>
			<a th:text="${format.key}"
			th:href="@{'/yt-downloader/' + ${T(machalica.marcin.spring.ytdownloader.downloader.YtUrlHelper).getVideoUrlPart(file_info.getUrl())} + '/' + ${format.value}}"></a>
			<img th:src="*{'data:image/png;base64,'+file_info.getQrCodes().get(format.key)}" alt="" />
		</li>
	</ul>
</body>
</html>
